.actions {
  input {
    background: #10a6df;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: museo-sans, "Trebuchet MS", sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
    width: auto;
    border: 0;
  }
}
